

.main_flex{
    display: flex;
    justify-content: space-between;
}
.form_styles{
    padding-top: 20vh;
    display:flex;
    gap:1%;
    justify-content: center;  
}

.input_text{
    background: #FEFEFE;
    width: 400px;
    height: 40px;
    border: 4px solid #00A36C;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.input_button{
    width: 100px;
    height: 40px;
    background: #00A36C;
    border: 4px solid #00A36C;
    border-radius: 20px;
    color: #FEFEFE;
    font-size: 24px;
}

.input_button:hover{
    opacity: 80%;
    cursor: pointer;
}

.bottom_image{
    position: relative;
    top:59vh;
    
}